{% block nagvigation %}
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有功能</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" class="layui-icon">
                                &#xe653; &nbsp;&nbsp;
                                <span>鹰眼监控检查</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" class="layui-icon">
                                &#xe653; &nbsp;&nbsp;
                                <span>鹰眼监控上下</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" class="layui-icon" id="slb_status">
                                &#xe653; &nbsp;&nbsp;
                                <span>负载均衡检查</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" class="layui-icon">
                                &#xe653; &nbsp;&nbsp;
                                <span>负载均衡上下</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" class="layui-icon">
                                &#xe653; &nbsp;&nbsp;
                                <span>负载监控上下</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" class="layui-icon">
                                &#xe653; &nbsp;&nbsp;
                                <span>kouyu100更新</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" class="layui-icon">
                                &#xe653; &nbsp;&nbsp;
                                <span>友盟数据统计</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" class="layui-icon">
                                &#xe653; &nbsp;&nbsp;
                                <span>打印单子数据</span>
                            </a>
                        </dd>
                    </dl>
                </li>

                <li class="layui-nav-item"><a href="">公告通知</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var vm = new Vue({
            el: "#slb_status",
            data: function () {
                return {
                    slb_data: []
                }
            },
            created: function () {
                $.ajax({
                    url: 'http://127.0.0.1:/data_update/aliyun_status',
                    type: 'get',
                    success: (data) => {
                        var ret_data = data;
                        this.slb_data = ret_data;
                        console.log(this.slb_data)
                    }
                })
            }
        })
    </script>
{% endblock %}